<%- include('partials/header'); -%>

    <h1>Find Movie</h1>
    <div class="search" >
        <input id="inp" type="text" name="movie" placeholder="Search for movies"/><button id="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div id="loader"></div>
    <div id="movie"></div>


<%- include('partials/footer'); -%>